name: Ruby CI

on: [pull_request]

jobs:
  test-lint:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['2.4', '2.5', '2.6', '2.7', '3.0']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - name: Build
      run: |
        gem install bundler -v 2.2.8
        bundle install

    - name: Rubocop run
      run: |
        bash -c "
          bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o ${{ matrix.ruby-version }}-rubocop.sarif
          [[ $? -ne 2 ]]
        "

    - name: Test with Rspec
      run: |
        bundle exec rspec

    - name: Upload Sarif output
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: ${{ matrix.ruby-version }}-rubocop.sarif
